{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nikedas - Admin</title>
    <link rel="shortcut icon" href="{% static "aplicacion/img/logo.png" %}" type="image/x-icon">
    <script src="https://kit.fontawesome.com/3e6ff9a951.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static "aplicacion/bootstrap-5.3.3-dist/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "aplicacion/css/admin.css" %}">
    {% block imports %}
    {% endblock imports %}

</head>

<body>
    <!-- Mini navbar -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand pe-3 ms-5" href="#">
                <img src="{% static "aplicacion/img/logo.png" %}" alt="Logo" width="56">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url "administrador" %}">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url "listaPedidos" %}">Pedidos</a>
                    </li>              
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url "totalusuarios" %}">Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url "index" %}">Panel cliente</a>
                    </li> 
            </div>
        </div>
    </nav>

    {%block content%}

    {%endblock content%}

    <!-- Footer -->
    <footer>
        <div class="container-fluid bg-body-secondary">
            <div class="container footer-container">
                <div class="footer-logos">
                    <a href="https://www.duoc.cl/" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a>
                    <a href="https://www.duoc.cl/" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
                    <a href="https://www.duoc.cl/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
                </div>
                <p class="footer-text">© 2024 Nikedas Chile</p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% if messages %}
        {% for m in messages %}
            <script>
                var title = ''
                var icon = ''
                
                {% if 'success' in m.tags %}
                    title = "¡Operación exitosa!";
                    icon = 'success';
                {% elif 'info' in m.tags %}
                    title = "Información";
                    icon = 'info';
                {% elif 'warning' in m.tags %}
                    title = "Advertencia";
                    icon = 'warning';
                {% elif 'error' in m.tags %}
                    title = "Error";
                    icon = 'error';
                {% else %}
                    title = "Mensaje";
                    icon = 'info';
                {% endif %}

                Swal.fire({
                    title: title,
                    text: "{{m}}",
                    icon: icon
                  });

            </script>
        {% endfor %}
    {% endif %}


    <script src="{% static "aplicacion/bootstrap-5.3.3-dist/js/bootstrap.bundle.js" %}"></script>
    


</body>    
</html>