{% extends "aplicacion/baseadmin.html" %}
{% load custom_filters %}
{% block content %}
<div class="container mt-4">
    <h3>Detalle del Pedido #{{ pedido.id }}</h3>
    <div class="card">
        <div class="card-header">
            Pedido realizado por: {{ pedido.cliente.nombre }} {{ pedido.cliente.apellido }} - {{ pedido.cliente.rut }}
        </div>
        <div class="card-body">
            <p class="card-text"><strong>Fecha:</strong> {{ pedido.fecha }}</p>
            <p class="card-text"><strong>Dirección de envío:</strong> {{ pedido.direccion }}</p>
            <p class="card-text"><strong>Estado:</strong> {{ pedido.get_estado_display }}</p>
            <p class="card-text"><strong>Total:</strong> ${{ pedido.total }}</p>
            <hr class='mt-3'>
            <h5 class="card-title mt-3">Zapatillas en el pedido:</h5>
            <ul class="list-group list-group-flush">
                {% for item in pedido.pedidozapatilla_set.all %}
                    <li class="list-group-item">
                        {{ item.zapatilla.marca }} {{ item.zapatilla.modelo }} - Talla: {{ item.talla }} - Cantidad: {{ item.cantidad }} - Subtotal: ${{ item.cantidad|mul:item.zapatilla.precio }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>
{% endblock content %}