{% extends "aplicacion/baseadmin.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<section class="h-100 gradient-custom">
    <div class="container">
        <div class="row d-flex justify-content-center my-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header py-3 d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Editar Direccion - {{direccion.id}}</h5>
                    </div>
                    <div class="card-body">
                        <!-- Formulario para editar direcciones -->
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <a class="btn btn-outline-primary" href='{% url "direccionesusuario" usuario.rut %}' >Volver</a>
                            <button class="btn btn-primary" type="submit" >Guardar cambios</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content%}