{% extends "aplicacion/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block imports %}
<link rel="stylesheet" href="{% static "aplicacion/css/perfil.css" %}">
{% endblock imports %}

{% block content %}
<section>
    <div class="container">
        <h1>Hola, {{usuario.nombre}}!</h1>
        <div class="row mt-4">
            <div class="col-12 col-md-3">
                <div class="sidebar bg-light rounded">
                    <ul class="list-unstyled">
                        <li class="p-3">
                            <a href="{% url "perfil" usuario.rut %}">Datos personales</a>
                        </li>
                        <li class="p-3">
                            <a href="{% url "direcciones" usuario.rut %}">Direcciones</a>
                        </li>
                        <li class="p-3">
                            <a href="{% url "pedidos" usuario.rut %}">Pedidos</a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
</section>

{% endblock content %}